.container1 {
    width: 100%;
    float: left;
    margin-bottom: 5%;
}

.ketquahead {
    background-color: #ffffff;
    padding: 9px;
    position: absolute;
    left: 10%;
    top: 6%;
    color: white;
    border-radius: 9px;
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    font-family: NunitoExtraBold;
}
.textstep {
    padding: 3px;
    text-align: center;
    color: #e56363;
}
.cssButtonAdd {
    color: #935b45 !important;
    text-decoration: none;
    cursor: pointer;
    background: none;
    font-size: 16px;
    padding: 3px;
    float: left;
}
.hd {
    float: left;
    width: 100%;
    padding-bottom: 27px;
}
.cssButtonPractice {
    text-align: center;
    color: #fff;
    font-family: NunitoExtraBold;
    padding: 5px;
    width: 40%;
    margin-left: 30%;
    font-size: 15px;
}
cssButtonPractice {
    width: 80%;
    font-size: 0.8rem;
    padding: 12px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-left: 10%;
    font-family: Bahnschrift;
}
.hoc-tap-be90b48c9f {
    background-image: linear-gradient(to right, #5da83f 0%, #5da83f 50%, #5da83f 100%);
    border-radius: 25px;
    float: left;
}
.h5e69afb1856b56171c37181a {
    color: #5da83f;
    border-bottom: 1px solid;
    padding: 5px;
    padding: 0px 5px 5px 5px;
    font-family: NunitoBold;
}
.i5e69afb1856b56171c37181a {
    background-image: url(/assets/icon/hoctap.png) !important;
    background-repeat: no-repeat;
    zoom: 1;
    height: 52px;
    text-align: center;
}
.choi-dua-4253a0d4ff {
    background-image: linear-gradient(to right, #4d99e1 0%, #4d99e1 50%, #4d99e1 100%);
    border-radius: 25px;
    float: left;
}
.h5e69af9c856b56666a371818 {
    color: #4d99e1;
    border-bottom: 1px solid;
    padding: 5px;
    padding: 0px 5px 5px 5px;
    font-family: NunitoBold;
}
.i5e69af9c856b56666a371818 {
    background-image: url(/assets/icon/choidua.png) !important;
    background-repeat: no-repeat;
    zoom: 1;
    height: 52px;
    text-align: center;
}
.giao-tiep-8fa4036691 {
    background-image: linear-gradient(to right, #f46262 0%, #f46262 50%, #f46262 100%);
    border-radius: 25px;
    float: left;
}
.h5e69b00b856b56b57d371826 {
    color: #f46262;
    border-bottom: 1px solid;
    padding: 5px;
    padding: 0px 5px 5px 5px;
    font-family: NunitoBold;
}
.i5e69b00b856b56b57d371826 {
    background-image: url(/assets/icon/giaotiep.png) !important;
    background-repeat: no-repeat;
    zoom: 1;
    height: 52px;
    text-align: center;
}
.tu-cham-soc-ban-than-va-lam-viec-nha-54a8c7ddde {
    background-image: linear-gradient(to right, #26b7ab 0%, #26b7ab 50%, #26b7ab 100%);
    border-radius: 25px;
    width: 96%;
    margin-left: 2%;
    float: left;
}
.h5e69afe8856b560221371822 {
    color: #26b7ab;
    border-bottom: 1px solid;
    padding: 5px;
    padding: 0px 5px 5px 5px;
    font-family: NunitoBold;
}
.i5e69afe8856b560221371822 {
    background-image: url(/assets/icon/chamsocbanthan.png) !important;
    background-repeat: no-repeat;
    zoom: 1;
    height: 52px;
    text-align: center;
}
.tham-gia-hoat-dong-cong-dong-0451bca37e {
    background-image: linear-gradient(to right, #f8af4f 0%, #f8af4f 50%, #f8af4f 100%);
    border-radius: 25px;
    float: left;
    width: 80%;
    margin-left: 10%;
}
.h5e69affa856b563bed371824 {
    color: #f8af4f;
    border-bottom: 1px solid;
    padding: 5px;
    width: 90%;
    margin-left: 5%;
    padding: 0px 5px 5px 5px;
    font-family: NunitoBold;
}
.i5e69affa856b563bed371824 {
    background-image: url(/assets/icon/hdcd.png) !important;
    background-repeat: no-repeat;
    zoom: 1;
    height: 52px;
    text-align: center;
}
.xay-dung-moi-quan-he-xa-hoi-304adfea43 {
    background-image: linear-gradient(to right, #c53510 0%, #c53510 50%, #c53510 100%);
    border-radius: 25px;
    float: left;
    width: 80%;
    margin-left: 10%;
}
.h5e69afbe856b5698f037181c {
    color: #c53510;
    border-bottom: 1px solid;
    padding: 5px;
    padding: 0px 5px 5px 5px;
    font-family: NunitoBold;
}
.i5e69afbe856b5698f037181c {
    background-image: url(/assets/icon/xahoi.png) !important;
    background-repeat: no-repeat;
    zoom: 1;
    height: 52px;
    text-align: center;
}
.van-dong-va-the-thao-f4c914391e {
    background-image: linear-gradient(to right, #db2d84 1%, #db2d84 50%, #db2d84 100%);
    border-radius: 25px;
    float: left;
    width: 70%;
    margin-left: 15%;
}
.h5e69afdb856b56b8bf371820 {
    color: #db2d84;
    border-bottom: 1px solid;
    padding: 5px;
    padding: 0px 5px 5px 5px;
    font-family: NunitoBold;
}
.i5e69afdb856b56b8bf371820 {
    background-image: url(/assets/icon/thethao.png) !important;
    background-repeat: no-repeat;
    zoom: 1;
    height: 52px;
}
.hieu-cam-xuc-va-dieu-tiet-hanh-vi-d48557d162 {
    background-image: linear-gradient(to right, #fb7964 1%, #fb7964 50%, #fb7964 100%);
    border-radius: 25px;
    float: left;
    width: 90%;
    margin-left: 5%;
}
.h5e69afcd856b56ae8d37181e {
    color: #fb7964;
    border-bottom: 1px solid;
    padding: 5px;
    padding: 0px 5px 5px 5px;
    font-family: NunitoBold;
}
.i5e69afcd856b56ae8d37181e {
    background-image: url(/assets/icon/hanhvi.png) !important;
    background-repeat: no-repeat;
    zoom: 1;
    height: 52px;
}
.textaligncenter {
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0px 0px 6px 6px #f2f2f2;
    width: 90%;
    margin-left: 5%;
    border-radius: 8px;
    margin-top: 12px;
    float: left;
}
.cssTextNotWork {
    color: #6c757d !important;
    margin: 0px;
    font-style: italic !important;
    font-size: 16px;
}
.textaligncenter {
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0px 0px 6px 6px #8080808a;
    width: 90%;
    margin-left: 5%;
    border-radius: 8px;
    margin-top: 12px;
    float: left;
}
// .opacity02 {
//     opacity: 0.2;
// }
.css-1 {
    --background: none;
    // background-image: url("/assets/imgs/trehoc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}
.css-2 {
    --background: none;
    // background-image: url("/assets/imgs/dayconchoidua.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.css-3 {
    --background: none;
    // background-image: url("/assets/imgs/chao-hoi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.css-4 {
    --background: none;
    // background-image: url("/assets/imgs/giupviecnha.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.css-5 {
    --background: none;
    // background-image: url("/assets/imgs/hdxh.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.css-6 {
    --background: none;
    // background-image: url("/assets/imgs/qhxh.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.css-7 {
    --background: none;
    // background-image: url("/assets/imgs/hdtt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.css-8 {
    --background: none;
    // background-image: url("/assets/imgs/dthv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.cssLink {
    font-size: 14px;
    width: 80%;
    margin-left: 10%;
    float: left;
    margin-bottom: 6px;
}
.csxembai {
    width: 45%;
    float: left;
}
.csmucdich {
    width: 55%;
    border-radius: 4px;
    color: black;
    float: right;
}
.cssmuctieu {
    background: white;
}
.cssRadioCheck {
    float: left;
    font-size: 14px;
    width: 60%;
    margin-right: 1%;
    font-family: NunitoBold;
}
.cssSelectRadio {
    width: 50%;
    font-size: 15px;
    height: auto;
    padding-bottom: 8px;
    float: left;
    text-align: left;
}
.cssSelectRadio1 {
    width: 50%;
    font-size: 15px;
    height: auto;
    padding-bottom: 8px;
    float: right;
    text-align: left;
}
.cssSelectRadio2 {
    width: 100%;
    font-size: 15px;
    height: auto;
    padding-bottom: 8px;
    float: left;
    text-align: left;
}
