<ion-content>
  <div class="container">
    <img src="assets/imgs/bgdash.jpg">
    <img (click)="backpage()" style="position: absolute;    left: 10px;
  top: 10px;" src="assets/icon/backicon.png">
  </div>
  <div class="css">
    <div class="iconatec">
      <img class="i" src="assets/icon/atecicon.png">
    </div>

    <div class="textstep">
      Bài kiểm tra đánh giá hiệu quả ATEC
    </div>
    <div (click)="Atectes()" class="ate">Làm ATEC</div>
  </div>


  <div style="width: 90%;margin: 25% 5% 5% 5%;">
    <div class="cssdanhgiahiuequa">
      <div style="font-size: 15px;font-family: NunitoBold;">
        Bảng kiểm đánh giá hiệu quả can thiệp (ATEC)
      </div>
      <div style="padding-top: 10px;padding-bottom: 10px;font-family: NunitoLight;font-size: 13px;">
        Nhằm giúp các phụ huynh và giáo viên theo dõi xem trẻ có tiến bộ theo thời gian không.
      </div>
      <div style="padding-top: 10px;padding-bottom: 10px;">
        <span style="font-size: 15px;font-family: NunitoBold;color: #935B45;">ATEC</span>
        <span style="font-family: NunitoLight;font-size: 13px;"> có 77 câu, đánh giá ở bốn lĩnh vực bao gồm:
        </span>
      </div>
      <div style="padding-bottom:5px;font-size: 14px;font-family: NunitoBold;">
        <span><img style="width: 3%;" src="assets/icon/dot_PNG4.png"></span> Ngôn ngữ, giao tiếp.
      </div>
      <div style="padding-bottom:5px;font-size: 14px;font-family: NunitoBold;">
        <span><img style="width: 3%;" src="assets/icon/dot_PNG4.png"></span> Kỹ năng xã hội.
      </div>
      <div style="padding-bottom:5px;font-size: 14px;font-family: NunitoBold;">
        <span><img style="width: 3%;" src="assets/icon/dot_PNG4.png"></span> Nhận thức.
      </div>
      <div style="padding-bottom:5px;font-size: 14px;font-family: NunitoBold;">
        <span><img style="width: 3%;" src="assets/icon/dot_PNG4.png"></span> Sức khoẻ/thể chất/hành vi.
      </div>
    </div>
    <div class="cssdanhgiahiuequa" style="font-family: NunitoLight;font-size: 13px;">Tổng điểm của
      <span style="font-size: 15px;font-family: NunitoBold;color: #935B45;">ATEC</span> dao động từ <span
        style="font-size: 15px;font-family: NunitoBold;color: #935B45;">0</span> đến <span
        style="font-size: 15px;font-family: NunitoBold;color: #935B45;">180</span> điểm, trong đó điểm những lần làm
      sau càng thấp thì hiệu quả can
      thiệp càng tốt. Các phụ huynnh nên làm bài <span style="font-size: 15px;font-family: NunitoBold;color: #935B45;">ATEC</span>
      trước khi bắt đầu can thiệp cho con, và
      làm sau mỗi 3 tháng.
    </div>
    <div style="padding-top: 20px;padding-bottom: 5px;font-family: NunitoLight;font-size: 13px;font-style: italic;" class="cssdanhgiahiuequa">
      <span style="font-size: 15px;font-family: NunitoBold;color: #935B45;">ATEC</span> do Tiến sĩ Bernard Rimland, & Tiến sĩ
      Stephen M. Edelson, thuộc Viện nghiên cứu tự kỷ, phát triển từ năm
      1999.
    </div>
  </div>
</ion-content>