.css{
    width: 90%;
    margin-left: 5%;
    box-shadow: 2px 2px 2px 2px gainsboro;
    border-radius: 14px;
    float: left;
    position: absolute;
    top: 8%;
    background: white;
    display: block;
    text-align: center;
    padding: 15px;
}
