.popup{
    height: 100%;
    width: 100%;
}
.container
{
    padding-left: 7%;
    padding-right: 7%;
   
}
.containertop{
    padding-left: 25%;
    padding-right: 25%;
   
}
.cardcheck{
  margin-left: 15px;
}
ion-title{
  color: white;
}

.loginConfig {
    // margin-top: 25% !important;
    // height: 60%;
    background-color: white;
    border-radius: 6px;

    .imglogo {
        width: 75%;
    margin-left: 11%;
    padding-top: 33px;
    padding-left: 1%;
    padding-right: 1%;
        
    }
}
.container-fluid {
    max-width: 100%;
    background-color: #d6d6d630;

}
.textdk{
    border-bottom: solid 1px black;
    padding-top: 20px;
}
.containerdk{
    padding-left: 10%;
    padding-right: 10%;
    background-color: #d6d6d654;
}
/* The container */
.containerbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: black;
  border-radius:20px;
  border: solid 1px black;
}

/* On mouse-over, add a grey background color */
// .container:hover input ~ .checkmark {
//   background-color: #ccc;
// }

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  // left: 9px;
  // top: 5px;
  width: 9px;
  height: 9px;
  border: solid 1px white;
  border-radius: 30px;
  // border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.texdk{
font-size: 15px;
color: red;
}
.login-buttondk {
  width: 100%;
  height: 40px;
  background: #b8151a !important;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  // margin-left: 30%;
  background-color: #ccc;
  box-shadow: 2px 3px #666;

}
.txtsignin{
 border-radius: 4px;
 border: solid 1px black;
 margin-right: 12px;
}
.text{
  font-size: 18px;
  margin-bottom: 7px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
}
.cardchild{
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 35px;
}
.gendertext{
  width: 30%
}
.male{
  width: 45%;
  float: right;
}
.female{
  width: 20%;
  float: right;
}
ion-toolbar{
  --background: #c92534;
}
.button {
  border-color:#ca2535;
  background-color:#ca2535;
  color: #444;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0px;
  min-width: 35px;
  min-height: 35px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 42px;
  cursor: pointer;
}
.login-buttonhuy {
  width: 47%;
  height: 40px;
  background: #ff3f61 !important;
  border-radius: 16px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  // margin-left: 30%;
  background-color: #ccc;
  box-shadow: 2px 3px #666;
  margin-top: 7px;
  margin-bottom: 20px;
  float: left;
}
.login-buttontaomoi {
  width: 47%;
  height: 40px;
  background: #00a652 !important;
  border-radius: 16px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  // margin-left: 30%;
  background-color: #ccc;
  box-shadow: 2px 3px #666;
  margin-top: 7px;
  margin-bottom: 20px;
  float: right;
}
.containerbt{
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 3%;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}