.containerprofile {
    margin: 0px 3%;
    padding: 8px;
    font-size: 16px;

    text-align: center;
    padding-bottom: 18px;
}
.container {
    width: 100%;
    margin-bottom: 20%;
}
.ketquahead {
    background-color: #5da83f;
    padding: 5px;
    position: absolute;
    left: 20%;
    top: 2%;
    color: white;
    border-radius: 9px;
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    font-family: NunitoExtraBold;
}
.containermail {
    width: 100%;
    padding-bottom: 33px;
}

.mail {
    float: right;
    width: 21%;
    text-align: center;
}
.image {
    width: 100%;
    background: linen;
    margin-bottom: 14px;
    text-align: center;
}
.img1 {
    width: 20%;
    border-radius: 10px;
}
.down {
    float: right;
    width: 25%;
    text-align: center;
}

.containerketqua {
    background-color: white;
    text-align: justify;
    font-size: 14px;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 14px;
    font-family: Nunito;
}
.csspadding2px {
    font-size: 13px;
    font-family: Nunito;
    padding: 2px;
}

.texthead {
    text-align: center;
    font-size: 18px;

    background: linen;
}

.textdetail {
    font-size: 15px;
    padding: 2px;
}

.chitiet {
    font-size: 13px;
    padding-bottom: 3px;
    padding-top: 2px;
    padding-left: 5%;
    color: #4b92ff;
}

.link {
    font-size: 12px;
}
.css {
    width: 90%;
    margin-left: 5%;
    box-shadow: 2px 2px 2px 2px gainsboro;
    border-radius: 14px;
    float: left;
    position: absolute;
    top: 13%;
    background: white;
    display: block;
}
.css1 {
    width: 90%;
    margin-left: 5%;
    border-radius: 11px;
    margin-bottom: 10px;
}
.icons-40 {
    width: 67px;
    height: 67px;
    padding: 10px;
}
.div-items-icons {
    float: left;
    border: 1px solid #80808000;
    position: relative;
    left: -32px;
    top: 3px;
    box-shadow: 2px 2px 2px 2px #80808091;
    border-radius: 11px;
}
.btn-chat-and-notifications {
    width: 80%;
    border: 1px solid #d2d2d200;
    background: #ffffff;
    padding: 2px;
    margin: 2%;
    height: 85px;
    box-shadow: 3px 3px 3px 3px #e0e0e096;
    margin-left: 15%;
    border-radius: 12px;
    margin-bottom: 23px;
}
.css2 {
    width: 90%;
    border: 1px solid #0862b3;
    margin-left: 5%;
    border-radius: 11px;
    margin-bottom: 10px;
}
.cssimg {
    width: 25%;
    padding-top: 3px;
    margin-top: 3px;
    float: left;
    padding: 7px;
}
.cssimg1 {
    width: 25%;
    padding-left: 5%;
    padding-right: 5%;
    border-right: 2px solid #69827d;
    padding-top: 3px;
    margin-top: 3px;
}
.cssimg2 {
    width: 25%;
    padding-left: 5%;
    padding-right: 5%;
    border-right: 2px solid #0862b3;
    padding-top: 3px;
    margin-top: 3px;
}
.namechil {
    color: #f46262;
    font-size: 14px;
    font-family: NunitoBold;
}
.textstep {
    font-size: 13px;
    padding-left: 8px;
    padding-top: 1px;
    width: 74%;
    float: right;
    text-align: left;
    padding: 3px;
    padding-bottom: 3px;
}
.textstep1 {
    color: #5da83f;
    font-size: 18px;
    padding-left: 8px;
    padding-top: 25px;
    width: 60%;
    float: left;
    text-align: left;
    font-weight: bold;
    font-family: NunitoExraBold;
}
.textstep2 {
    color: #5da83f;
    font-size: 18px;
    padding-left: 8px;
    padding-top: 24px;
    width: 60%;
    float: left;
    text-align: left;
    font-weight: bold;
    font-family: NunitoExraBold;
}
.namepost {
    font-size: 13px;
    text-align: center;
    font-style: italic;
}
.containerxemlai {
    width: 92%;
    border: 1px solid #03a9f47d;
    background-color: white;
    padding: 14px;
    float: left;
    margin-left: 4%;
    margin-bottom: 15px;
    margin-top: 26%;
    font-family: Nunito;
}
.xt {
    color: darkcyan;
    text-align: right;
    font-size: 16px;
}
