.cssRowInput {
    width: 90%;
    float: left;
    margin: 5% 5% 0% 5%;}
.rowform {
    margin-bottom: 10px;
    width: 100%;
    float: left;
}
.fontsize14 {
    font-size: 14px;
    color: #760000;
    font-weight: bold;
}
.cssInput {
    border: solid 1px #d2d2d2;
    border-radius: 5px;
    font-size: 14px;
    height: 35px;
    background: white;
}
.containerbox {
    color: #760000;
    font-size: 17px;
    font-weight: bold;
    margin-left: 5%;
}
.cssIonList {
    margin: 5% 6%;
    text-align: justify;
}
.cssText {
    padding: 2%;
    font-size: 16px;
}
.login-button{
    width: 44%;
    height: 40px;
    background: #00A652 !important;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 2% 28%;
}
.cssRules{
    margin: 5% 6%;
    text-align: justify;
    margin-top: 15px;
}
.cssGender{
    font-size: 14px;
    color: #760000;
    font-weight: bold;
    width: 58%;
    float: left;
}
.cssSelectGender{
    font-size: 14px;
    float: left;
    padding: 0px;
    width: 20%;
    text-align: right;
}
.cssSelect{
    border: solid 1px #d2d2d2;
    border-radius: 5px;
    font-size: 14px;
    height: 35px;
    background: white;
}
.dangkyupdate {
    width: 40%;
    margin-left: 30%;
    margin-top: 6%;
}
