.containerprofile {
    margin: 0px 3%;
    padding: 8px;
    font-size: 16px;

    text-align: center;
    padding-bottom: 18px;
}
.containerxemlai {
    width: 94%;
    border: 1px solid #03a9f47d;
    background-color: white;
    padding: 3px;
    float: left;
    text-align: justify;
    margin-left: 3%;
    font-family: NunitoBold;
}
.containermail {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 10px;
    float: left;
    padding-top: 5%;
    font-family: NunitoBold;
}
.containermail1 {
    width: 100%;
    float: left;
    padding-bottom: 7px;
}
.containermail2 {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 10px;
    float: left;
    padding: 0% 0% 2% 5%;
    font-family: NunitoBold;
}
.css {
    width: 90%;
    margin-left: 5%;
    box-shadow: 2px 2px 2px 2px gainsboro;
    border-radius: 14px;
    float: left;
    position: absolute;
    top: 10%;
    background: white;
    display: block;
}
.css1 {
    width: 90%;
    border: 1px solid #f16531;
    margin-left: 5%;
    border-radius: 11px;
    margin-bottom: 10px;
}
.css2 {
    width: 90%;
    border: 1px solid #2eb3bb;
    margin-left: 5%;
    border-radius: 11px;
    margin-bottom: 10px;
}
.css3 {
    width: 90%;
    border: 1px solid #76c2af;
    margin-left: 5%;
    border-radius: 11px;
    margin-bottom: 10px;
    float: right;
    margin-right: 4%;
}
.css4 {
    width: 90%;
    border: 1px solid #fbc02d;
    margin-left: 5%;
    border-radius: 11px;
    margin-bottom: 10px;
    float: left;
}
.cssimg {
    width: 25%;
    padding-top: 3px;
    margin-top: 3px;
    float: left;
    padding: 7px;
}
.cssimg1 {
    width: 25%;
    padding-left: 4%;
    padding-right: 4%;
    border-right: 2px solid #f16531;
    padding-top: 3px;
    margin-top: 3px;
}
.cssimg2 {
    width: 25%;
    padding-left: 5%;
    padding-right: 5%;
    border-right: 2px solid #2eb3bb;
    padding-top: 3px;
    margin-top: 3px;
}
.cssimg3 {
    width: 25%;
    padding-left: 5%;
    padding-right: 5%;
    border-right: 2px solid #76c2af;
    padding-top: 3px;
    margin-top: 3px;
}
.cssimg4 {
    width: 25%;
    padding-left: 5%;
    padding-right: 5%;
    border-right: 2px solid #fbc02d;
    padding-top: 3px;
    margin-top: 3px;
}
.textstep {
    font-size: 13px;
    padding-left: 8px;
    padding-top: 1px;
    width: 74%;
    float: right;
    text-align: left;
    padding: 3px;
    padding-bottom: 3px;
}
.textstep1 {
    color: #5da83f;
    font-size: 18px;
    padding-left: 8px;
    padding-top: 25px;
    width: 60%;
    float: left;
    text-align: left;
    font-weight: bold;
    font-family: NunitoExraBold;
}
.textstep2 {
    color: #5da83f;
    font-size: 18px;
    padding-left: 8px;
    padding-top: 24px;
    width: 60%;
    float: left;
    text-align: left;
    font-weight: bold;
    font-family: NunitoExraBold;
}
.textstep3 {
    color: #76c2af;
    font-size: 18px;
    padding-left: 8px;
    padding-top: 15px;

    width: 68%;
    float: right;
    text-align: center;
}
.textstep4 {
    color: #fbc02d;
    font-size: 18px;
    padding-left: 8px;
    padding-top: 15px;

    width: 68%;
    float: right;
    text-align: center;
}
.mail {
    float: right;
    width: 21%;
    text-align: center;
}

.down {
    float: right;
    width: 25%;
    text-align: center;
}

.containerketqua {
    background-color: white;
    text-align: justify;
    font-size: 14px;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 14px;
    font-family: NunitoBold;
}
.csspadding2px {
    font-size: 13px;
    font-family: NunitoBold;
    padding: 2px;
}

.texthead {
    text-align: center;
    color: #c92534;
    font-size: 16px;
    margin: 0px 5%;
}

.textdetail {
    font-size: 15px;
    padding: 2px;
}

.chitiet {
    font-size: 13px;
    padding-bottom: 3px;
    padding-top: 2px;
    padding-left: 5%;
    color: #4b92ff;
}

.link {
    font-size: 15px;
}

.namepost {
    font-size: 13px;
    text-align: center;
    font-style: italic;
}

.cssRow {
    width: 97%;
    float: left;
    background: #455b6314;
    padding-bottom: 15px;
    box-shadow: 1px -1px 2px 2px #80808040;
}

.cssTitle {
    margin: 8px 5% 5px 5%;
    font-size: 14px;
}

.cssField {
    float: left;
    width: 60%;
    color: #5da83f;
}

.cssThreshold {
    float: left;
    width: 39%;
    color: #935b45;
}

.cssPoint {
    float: left;
    width: 20%;
}

.cssIndex {
    width: 97%;
    margin: 5px 10%;
    float: left;
    font-size: 11px;
}

.cssWidth21 {
    width: 21%;
    float: left;
}

.cssWidth22 {
    width: 22%;
    float: left;
}

.cssContent {
    width: 80%;
    float: left;
    margin: 0px 10%;
    border: 1px solid #f2f2f2;
    height: 20px;
}

.cssContentwhite {
    height: 20px;
    width: 82.5%;
    background: #5da83f;
    z-index: 1;
    position: absolute;
    border-radius: 0px 9px 9px 0px;
}

.cssContentgrey {
    height: 18px;
    background: #ffeb99;
    z-index: 2;
    position: absolute;
    border-radius: 0px 9px 9px 14px;
    margin-top: 1px;
}

.cssContentblack {
    height: 18px;
    background: #ffaea1;
    z-index: 3;
    position: absolute;
    border-radius: 0px 9px 9px 0px;
    margin-top: 1px;
}

.background0064b7 {
    background: #0064b7;
}

.background64c1ff {
    background: #64c1ff;
}

.backgroundf3f3f3 {
    background: #f3f3f3;
}

.circle {
    height: 20px;
    position: absolute;
    color: black;
    z-index: 4;
    width: 69%;
    text-align: right;
    padding-top: 1px;
}

.cssIcon {
    border: 1px solid white;
    border-radius: 50%;
    color: #5da83f;
}

.cssCharacters {
    width: 20%;
    float: left;
    text-align: center;
}

.cssNote {
    width: 100%;
}

.cssCharactersGener {
    float: left;
    width: 10%;
    margin: 0px 5%;
    height: 15px;
    text-align: center;
}

.cssResult {
    font-size: 16px;
    margin: 0px 3%;
    text-align: justify;
}
.ketquahead {
    background-color: #5da83f;
    padding: 5px;
    position: absolute;
    left: 23%;
    top: 1%;
    color: white;
    border-radius: 9px;
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-family: NunitoExtraBold;
    text-align: center;
}
.namechil {
    color: #f46262;
    font-size: 14px;
    font-family: NunitoBold;
}
.cssdiem {
    width: 40%;
    padding-left: 5%;
    color: #e56363;
    font-size: 20px;
    padding-bottom: 6px;
}
.cssd {
    width: 100%;
    float: left;
    font-size: 14px;
}
.cssd1 {
    border-radius: 20px;
    height: 12px;
    width: 10%;
    float: left;
    margin-left: 5%;
}
.csskk1 {
    background-color: #ffaea1;
    border-radius: 20px;
    height: 12px;
    width: 10%;
    float: left;
    margin-left: 5%;
}
.csstd1 {
    background-color: #ffeb99;
    border-radius: 20px;
    height: 12px;
    width: 10%;
    float: left;
    margin-left: 5%;
}
.cssbt1 {
    background-color: #6cb051;
    border-radius: 20px;
    height: 12px;
    width: 10%;
    float: left;
    margin-left: 5%;
}
.csstexxt {
    font-size: 12px;
    margin-left: 10px;
    float: left;
    width: 75%;
}
.cssnx {
    width: 30%;
    float: left;
    text-align: center;
    font-size: 12px;
    box-shadow: 2px 2px 2px 2px #80808094;
    border-radius: 10px;
    padding: 6px;
    color: #935b45;
    margin-right: 3%;
    height: 100px;
}
.cssgy {
    width: 30%;
    float: left;
    text-align: center;
    font-size: 12px;
    box-shadow: 2px 2px 2px 2px #80808094;
    border-radius: 10px;
    padding: 6px;
    color: #935b45;
    margin-right: 3%;
    padding-top: 10px;
    height: 100px;
}
.cssmail {
    width: 30%;
    float: left;
    text-align: center;
    font-size: 12px;
    box-shadow: 2px 2px 2px 2px #80808094;
    border-radius: 10px;
    padding: 6px;
    color: #935b45;
    margin-right: 3%;
    padding-top: 14px;
    height: 100px;
}
.cssiconfooter {
    width: 48%;
    text-align: center;
    padding-bottom: 5px;
}
.xt {
    color: darkcyan;
    text-align: right;
    font-size: 16px;
}
