<!-- <ion-header>
  <ion-toolbar>
    <ion-title>bangcauhoiasq</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">
    <img (click)="backpage()" style="    position: absolute;
    left: 24px;
    top: 24px;" src="assets/icon/backicon.png">
    <div class="cssbang">
      <div class="imghead">
        <img src="assets/icon/bangcauhoiasq.png">
      </div>
      <div class="texthead">
        Bảng câu hỏi ASQ®-3
        </div>
        <div class="">
          <div class="" style="margin-bottom: 10px;">ASQ®-3 là hệ thống câu hỏi dành cho cha mẹ/người chăm sóc trẻ tự điền
            nhằm sàng lọc và theo dõi sự phát triển toàn diện và phát hiện sớm các rối loạn phát triển ở trẻ. ASQ®-3
            sàng lọc và theo dõi 5 lĩnh vực phát triển: Giao tiếp, vận động thô,
            vận động tinh, giải quyết vấn đề, và cá nhân - xã hội. Mỗi lĩnh vực ở một độ tuổi nhất định có một ngưỡng
            giới hạn.
        </div>
        <div class="" style="margin-bottom: 10px;">
            <div style="margin-bottom: 5px;">
                <div class="cssCharacters">
                    <ion-icon class="cssIcon" name="ellipse"></ion-icon>
                </div>
                <div class="cssNote">Điểm của trẻ</div>
            </div>
            <div style="margin-bottom: 5px;">
                <div class="cssCharactersGener background0064b7"></div>
                <div class="cssNote">Vùng điểm thể hiện trẻ đang gặp khó khăn</div>
            </div>
            <div style="margin-bottom: 5px;">
                <div class="cssCharactersGener background64c1ff"></div>
                <div class="cssNote">Vùng điểm thể hiện trẻ cần được theo dõi thêm và làm sàng lọc lại do một số kỹ năng
                    chưa thành thục</div>
            </div>
            <div style="margin-bottom: 5px;">
                <div class="cssCharactersGener backgroundf3f3f3"></div>
                <div class="cssNote">Vùng điểm thể hiện trẻ có sự phát triển bình thường</div>
            </div>
        </div>
          </div>
    </div>
  </div>

 
</ion-content>
