.conten{
    text-align: center;
    padding-top: 18px;
    color: #ca2535;
    padding: 10px;
}
.deception{
    padding: 7%;
    font-size: 15px;
    padding-top: 10px;

}
.day{
    font-size: 12px;
    text-align: center;
    font-style: italic;
    padding-bottom: 10px;
}
.title-default {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #dc0000;
}
