<ion-content>
  <!-- <img src="assets/icon/bgdash50.png"> -->
  <div class="container-login">
    <img src="assets/imgs/backgroudlogin.jpg">
  </div>
  <img (click)="backPage()" style="position: absolute;left: 10px;top: 10px;" src="assets/icon/backicon.png">

  <div class=" loginConfig">
    <div class="loginform">
      <img class="imghead" src="assets/icon/icontaotre.png">
      <div class="texthe">
        Thông tin trẻ
      </div>
      <ion-row justify-content-center>
        <ion-col>
          <div class="cssTitle">Họ và tên trẻ<span style="color:red;">*</span></div>
          <div class="txtsignin">
            <img src="assets/icon/loginuser.png" class="icontxt">
            <ion-input style="font-weight: 700;padding-left: 8px !important;" class="inputView" [(ngModel)]="txtname"
              type="text">
            </ion-input>
          </div>

          <div class="cssTitle">Ngày sinh(dd/mm/yyyy)<span style="color:red;">*</span></div>
          <div class="txtsignin">
            <img src="assets/icon/iconlich.png" class="icontxt matop5px">
            <ion-datetime displayFormat="DD/MM/YYYY" style="font-weight: 700;padding-left: 8px !important;"
              class="inputView" [(ngModel)]="txtdob">
            </ion-datetime>
          </div>

          <div class="cssTitle">Giới tính<span style="color:red;">*</span></div>
          <div class="viewHeadSearch">
            <img class="icontxt" style="margin-top: 6px;margin-left: 10px;" src="assets/icon/iconnam.png">
            <ion-item class="dateGeneral">
              <ion-label class="displayNone">Giới tính
              </ion-label>
              <ionic-selectable [(ngModel)]="sltGender" [items]="listgender" itemValueField="id" itemTextField="text"
                (onChange)="GenderChange($event)">
              </ionic-selectable>
            </ion-item>
          </div>

          <div class="cssTitle">Trẻ được sinh vào tuần thứ mấy của thai kỳ <span style="color:red;">*</span></div>
          <div class="txtsignin">
            <img src="assets/icon/week.png" class="icontxt matop5px">
            <ion-input style="font-weight: 700;padding-left: 8px !important;" class="inputView"
              [(ngModel)]="txtpregnantWeeks" type="number">
            </ion-input>
          </div>
          <div class="cssTitle">Khu vực<span style="color:red;">*</span></div>
          <div class="viewHeadSearch">
            <img class="icontxt" style="margin-top: 6px;margin-left: 10px;" src="assets/icon/icon_marker_White.png">
            <ion-item class="dateGeneral">
              <ion-label class="displayNone">Khu vực</ion-label>
              <ionic-selectable [(ngModel)]="sltArea" [items]="listarea" itemValueField="code" itemTextField="title"
                placeholder="---Chọn khu vực---" [canSearch]="true" (onChange)="AreaChange($event)">
              </ionic-selectable>
            </ion-item>
          </div>

          <div class="cssTitle" *ngIf="checkArea">Quận / Huyện<span style="color:red;">*</span></div>
          <div class="viewHeadSearch " *ngIf="checkArea">
            <img class="icontxt" style="margin-top: 6px;margin-left: 10px;" src="assets/icon/iconkhuvuc.png">
            <ion-item class="dateGeneral">
              <ion-label class="displayNone">Quận / Huyện</ion-label>
              <ionic-selectable [(ngModel)]="sltDistrict" [items]="listDistrict" itemValueField="code"
                itemTextField="title" placeholder="---Quận/huyện---" [canSearch]="true"
                (onChange)="DistrictChange($event)">
              </ionic-selectable>
            </ion-item>
          </div>

          <div class="cssTitle" *ngIf="checkArea">Xã / Phường / Thị trấn<span style="color:red;">*</span></div>
          <div class="viewHeadSearch" *ngIf="checkArea">
            <img class="icontxt" style="margin-top: 6px;margin-left: 10px;" src="assets/icon/icon_marker_White.png">
            <ion-item class="dateGeneral">
              <ion-label class="displayNone">Xã / Phường / Thị trấn</ion-label>
              <ionic-selectable [(ngModel)]="sltTown" [items]="listTown" itemValueField="code" itemTextField="title"
                placeholder="---Phường/xã/thị trấn---" [canSearch]="true" (onChange)="TownChange($event)">
              </ionic-selectable>
            </ion-item>
          </div>


          <div class="cssTitle">Trẻ đã từng được chẩn đoán tự kỷ/chậm phát triển trí tuệ/rối loạn phát triển
            chưa?<span style="color:red;">*</span></div>
          <div class="viewHeadSearch">
            <img class="icontxt" style="width: 30px;margin-top: 10px;margin-left: 5px;" src="assets/icon/Diagnosed.png">
            <ion-item class="dateGeneral">
              <ion-label class="displayNone">Trẻ đã từng được chẩn đoán tự kỷ chưa?
              </ion-label>
              <ionic-selectable [(ngModel)]="sltIsDiagnosed" [items]="form" itemValueField="isDiagnosed"
                itemTextField="text" (onChange)="IsDiagnosedChange($event)">
              </ionic-selectable>
            </ion-item>
          </div>


          <div class="role" *ngIf="Check">
            <div class="cssTitle">Kết quả chẩn đoán của trẻ<span style="color:red;">*</span></div>
            <div class="viewHeadSearch">
              <img class="icontxt matop5px" src="assets/icon/luu.png">
              <ion-item class="dateGeneral">
                <ion-label class="displayNone">Kết quả chẩn đoán
                </ion-label>
                <ionic-selectable [(ngModel)]="sltDiagnosticConclusion" [items]="dc" itemValueField="id"
                  itemTextField="text" (onChange)="DiagnosticConclusionChange($event)">
                </ionic-selectable>
              </ion-item>
            </div>

            <div class="cssTitle">Số tháng tuổi của trẻ tại thời điểm chẩn đoán<span style="color:red;">*</span></div>
            <div class="txtsignin">
              <img src="assets/icon/iconlich.png" class="icontxt matop5px">
              <ion-input style="font-weight: 700;padding-left: 8px !important;" class="inputView"
                [(ngModel)]="txtageWhenDiagnosed" type="number">
              </ion-input>
            </div>

            <div class="cssTitle">Nơi chẩn đoán<span style="color:red;">*</span></div>
            <div class="viewHeadSearch">
              <img class="icontxt matop5px" src="assets/icon/iconkhuvuc.png">
              <ion-item class="dateGeneral">
                <ion-label class="displayNone">Nơi chẩn đoán
                </ion-label>
                <ionic-selectable [(ngModel)]="sltDiagnosticPlace" [items]="dp" itemValueField="id" itemTextField="text"
                  (onChange)="DiagnosticPlaceChange($event)">
                </ionic-selectable>
              </ion-item>
            </div>

            <div class="cssTitle">Người chẩn đoán<span style="color:red;">*</span></div>
            <div class="viewHeadSearch">
              <img class="icontxt matop5px" src="assets/icon/iconparen.png">
              <ion-item class="dateGeneral">
                <ion-label class="displayNone">Người chẩn đoán
                </ion-label>
                <ionic-selectable [(ngModel)]="sltDiagnosticStaff" [items]="ds" itemValueField="id" itemTextField="text"
                  (onChange)="DiagnosticStaffChange($event)">
                </ionic-selectable>
              </ion-item>
            </div>
            <!-- Trẻ đã được sàng lọc tự kỷ chư-->
            <div class="cssTitle">Trẻ đã được sàng lọc trước đó bằng các bộ CDC/ASQ®-3/M-CHAT-R™ trên A365 chưa?<span
                style="color:red;">*</span> </div>
            <div class="viewHeadSearch">
              <img class="icontxt" src="assets/icon/Diagnosed.png"
                style="width: 30px; margin-top: 10px; margin-left: 5px;">
              <ion-item class="dateGeneral">
                <ion-label class="displayNone">Trẻ đã được sàng lọc trước đó bằng các bộ CDC/ASQ®-3/M-CHAT-R™ trên A365
                  chưa?
                </ion-label>
                <ionic-selectable [(ngModel)]="sltScreenedOnA365" [items]="form1" itemValueField="screenedOnA365"
                  itemTextField="text" (onChange)="ScreenedOnA365Change($event)">
                </ionic-selectable>
              </ion-item>
            </div>
          </div>
          <div class="truef">
            <div class="huybo" (click)="backPage()">Hủy bỏ</div>
            <div class="containerbt">
              <button tappable (click)="Creatchildren()" class="login-buttontaomoi">Đăng ký</button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>