ion-content {
    // --background: none;
    // background-image: url(/assets/imgs/ppbackgroud.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // min-width: 240px;
    // max-width: 768px;
    --background-color: #f9fcffc4 !important;
}

.ionicon {
    position: absolute;
    right: 0px;
    top: 10px;
}

.cauhoiasq {
    width: 90%;
    margin-left: 5%;
    float: left;
    text-align: center;
    color: white;
    margin-bottom: 19px;
    border-radius: 17px;
    border: 1px solid;
    box-shadow: 5px 5px 3px #607d8b9c;
    background-size: cover;
    background-color: #ffeb99;
    padding: 15px;
}
.cauhoicdc {
    width: 90%;
    margin-left: 5%;
    float: left;
    text-align: center;
    color: white;
    margin-bottom: 19px;
    border-radius: 17px;
    border: 1px solid;
    box-shadow: 5px 5px 3px #607d8b9c;
    background-size: cover;
    background-color: #66b5f1bd;
    padding: 15px;
}
.cauhoimchat {
    width: 90%;
    margin-left: 5%;
    float: left;
    text-align: center;
    color: white;
    margin-bottom: 19px;
    border-radius: 17px;
    border: 1px solid;
    box-shadow: 5px 5px 3px #607d8b9c;
    background-size: cover;
    background-color: #ffcfc2;
    padding: 15px;
}
.cauhoimchatf {
    width: 90%;
    margin-left: 5%;
    float: left;
    text-align: center;
    color: white;
    margin-bottom: 19px;
    border-radius: 17px;
    border: 1px solid;
    box-shadow: 5px 5px 3px #607d8b9c;
    background-size: cover;
    background-color: #f48a62;
    padding: 15px;
}
.cauhoiatec {
    width: 90%;
    margin-left: 5%;
    float: left;
    text-align: center;
    color: white;
    margin-bottom: 19px;
    border-radius: 17px;
    border: 1px solid;
    box-shadow: 5px 5px 3px #607d8b9c;
    background-size: cover;
    background-color: #5da83fcf;
    padding: 15px;
}
.cauhoiqol {
    width: 90%;
    margin-left: 5%;
    float: left;
    text-align: center;
    color: white;
    margin-bottom: 19px;
    border-radius: 17px;
    border: 1px solid;
    box-shadow: 5px 5px 3px #607d8b9c;
    background-size: cover;
    background-color: #ffaea1;
    padding: 15px;
}
.iconmain1 {
    width: 65%;
    text-align: center;
}

.iconmain {
    width: 20%;
    float: left;
    padding-left: 0%;
    padding-top: 3px;
}

.textmain {
    width: 78%;
    float: right;
    margin: 0 auto;
    padding: 3px;
    padding-top: 14px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-align: left;
}
.text {
    width: 100%;
    float: left;
    margin: 0 auto;
    padding: 4px;
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    font-size: 16px;
    color: black;
    padding-left: 35px;
}

.with {
    width: 100%;
}

.icon {
    width: 10%;
    float: right;
    margin: 0 auto;
    margin-top: 10px;
}

.cauhoi4 {
    text-align: center;
    font-size: 15px;
    background: #87ba3b !important;
    color: white;
    height: 61px;
    padding: 13px;
    border-radius: 17px;
}
.css {
    width: 90%;
    margin-left: 5%;
    box-shadow: 2px 2px 2px 2px gainsboro;
    border-radius: 14px;
    float: left;
    position: absolute;
    top: 19%;
    background: white;
    display: block;
    padding: 21px;
}
.textstep {
    text-align: center;
    color: #935b45;
    font-size: 17px;
}
.ketquahead {
    background-color: #5da83f;
    padding: 11px;
    position: absolute;
    left: 17%;
    top: 7%;
    color: white;
    border-radius: 9px;
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    font-family: NunitoExtraBold;
}
.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 70px;
}
.container {
    width: 100%;
    padding-bottom: 8%;
}
