<ion-content>
  <div class="container">
    <img src="assets/imgs/bgdash.jpg">
    <img (click)="backPage()" style="position: absolute;left: 10px;top: 10px;" src="assets/icon/backicon.png">
    <div class="ketquahead">
      Kiến thức
    </div>
  </div>
  <div class="container-fluid">
    <div *ngFor="let p of list" (click)="getdetail(p)">
      <ion-icon style="position: relative;float: right;top: 14px;right: 3%;font-size: 28px;color: #5DA83F;" name="arrow-forward-circle"></ion-icon>
      <div class="cauhoi1 {{p.hexCode}}">
        <div class="text">
          <div class="width10css">
            <img [src]="p.icon" />
          </div>
          <div class="width85">{{p.title}}</div>
        </div>
        <div class="text1">{{p.description}}</div>
      </div>
    </div>
  </div>
</ion-content>