.cssRowInput {
    width: 90%;
    float: left;
    margin: 0% 5% 0% 5%;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 10px;
    padding: 11px;
}
.center {
    display: block;
    margin-left: 40%;
    width: 20%;
    position: relative;
    top: -30px;
}
.rowform {
    margin-bottom: 10px;
    width: 100%;
    float: left;
    padding-bottom: 10px;
}
.fontsize14 {
    font-size: 16px;
    color: #2b2727cf;
    font-weight: bold;
    padding-bottom: 5px;
}
.cssInput {
    border: solid 1px #d2d2d2;
    border-radius: 5px;
    font-size: 16px;
    height: 35px;
    background: white;
}
.containerbox {
    color: #2b2727cf;
    font-size: 17px;
    font-weight: bold;
    margin-left: 5%;
}
.cssIonList {
    margin: 5% 6%;
    text-align: justify;
}
.cssText {
    padding: 2%;
    font-size: 16px;
}
.login-button {
    width: 44%;
    background: #f46262;
    border-radius: 10px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    float: right;
    padding: 11px;
    margin: 0% 3%;
}
.cssRules {
    margin: 5% 6%;
    text-align: justify;
    margin-top: 15px;
}
.cssGender {
    font-size: 16px;
    color: #2b2727cf;
    font-weight: bold;
    width: 58%;
    float: left;
}
.cssSelectGender {
    font-size: 16px;
    float: left;
    padding: 0px;
    width: 45%;
    text-align: right;
}
.cssSelect {
    border-radius: 37px;
    font-size: 16px;
    height: 35px;
    box-shadow: 0px 0px 0px 1px #e66a6a8f;
}
.dangkyupdate {
    width: 40%;
    margin-left: 30%;
    margin-top: 6%;
}
.loginform {
    width: 94%;
    box-shadow: 0px 4px 8px 4px #80808054;
    border-radius: 10px;
    margin-left: 3%;
    background: #e8f0fe00;
    padding-bottom: 10px;
    float: left;
    padding: 0px 16px 5px 16px;
    .txtsignin {
        width: 100%;
        font-size: 17px;
        height: 50px;
        background: content-box;
        margin-bottom: 20px;
        border-bottom: 1px solid #f2b5b5 !important;
        .icontxt {
            width: 9%;
            float: left;
        }
        .inputView {
            width: 90%;
            float: right;
            font-size: 16px;
            height: 50px;
        }
    }
}
.iconkhuvuc {
    position: absolute;
    right: 16px;
    top: 6px;
    width: 20px;
}
.iconnghe {
    position: absolute;
    top: 2px;
    right: 10px;
}
.select50 {
    width: 60%;
    float: left;
    border-radius: 22px;
    font-size: 16px;
    height: 35px;
    box-shadow: 0px 0px 0px 1px #e66a6ab5;
}
.fontsize1111 {
    font-size: 16px;
    color: #2b2727cf;
    font-weight: bold;
    width: 39%;
    float: left;
    padding-top: 6px;
}
.date {
    padding: 0px;
    margin-bottom: 11px;
}
.But {
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-bottom: 13px;
}
.huy {
    width: 30%;
    float: left;
    padding-top: 13px;
    color: gray;
    font-size: 19px;
}
.icongen {
    width: 18%;
    float: left;
    margin-left: 16%;
    padding-top: 3px;
}
.textgen {
    width: 34%;
    float: left;
    font-size: 17px;
    color: #000000b8;
    padding-top: 3px;
    text-align: center;
}
.cssin {
    margin-left: 5px;
    width: 18%;
    float: left;
    padding-top: 5px;
    margin-top: 1px;
    margin-right: 5px;
    zoom: 1.5;
}
