ion-content {
    --background: none;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 240px;
    max-width: 768px;
}
.css {
    width: 90%;
    margin-left: 5%;
    box-shadow: 2px 2px 2px 2px gainsboro;
    border-radius: 14px;
    float: left;
    position: absolute;
    top: 19%;
    background: white;
    display: block;
    padding: 21px;
}
.ketquahead {
    background-color: #ffffff;
    padding: 8px;
    position: absolute;
    left: 20%;
    top: 7%;
    color: black;
    border-radius: 9px;
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    font-family: NunitoExtraBold;
}
.cssSearch {
    position: relative;
    width: 70%;
    left: 15%;
    top: -22px;
}
.container {
    width: 100%;
}
.viewButtonSearch {
    width: 85%;
    height: 35px;
    float: right;
    font-size: 13px;
    border-radius: 0px 20px 20px 0px;
    color: gray;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-left: 0px;
}
.btnSearch {
    width: 15%;
    height: 35px;
    color: #7f7f7f;
    border-radius: 20px 0px 0px 20px;
    background: white;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    border-right: 0px;
}
.btn_openSearc {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
    background: #d7ecff;
    border: 1px solid brown;
    border-radius: 5px;
}
// .btnSearch {
//     width: 13%;
//     height: 35px;
//     background: #b9ddff;
//     color: white;
//     float: right;
//     margin-right: 2%;
//     border-radius: 0px 20px 20px 0px;
// }
.line {
    border: 1px solid #5da83f !important;
}
.btn-chat-and-notifications {
    width: 85%;
    border: 1px solid #d2d2d200;
    background: #ffffff;
    padding: 2px;
    margin: 2%;
    height: 95px;
    box-shadow: 3px 3px 3px 3px #e0e0e096;
    margin-left: 10%;
    border-radius: 12px;
    float: left;
    font-family: "NunitoBold";
}
.icons-50 {
    padding: 6px;
    width: 70px;
    height: 70px;
    float: left;
}
.div-items-text1 {
    padding: 5px 0px 6px 8px;
    height: 100%;
    overflow: auto;
    font-size: 12px;
    padding-left: 8px;
    width: 100%;
    float: left;
}
.div-items-icons {
    float: left;
    border: 1px solid #80808000;
    position: relative;
    left: -15px;
    top: 3px;
    box-shadow: 2px 2px 2px 2px #80808091;
    border-radius: 11px;
    background-color: white;
}

.icons-40 {
    width: 67px;
    height: 67px;
}

.div-items-text {
    float: left;
    padding: 6px 0px 2px 4px;
    height: 100%;
    overflow: auto;
    font-size: 14px;
    padding-left: 8px;
    width: 66%;
}

.cssBtn {
    float: right;
    width: 12%;
    margin-right: 3px;
}

.zox {
    color: white;
}

.CssBtndelete {
    float: right;
    height: 26px;
    margin: 2%;
    right: auto;
    margin-top: 5px;
    border-radius: 7px;
    background: none;
}

.CssBtnUpdate {
    float: right;
    height: 26px;
    margin: 2%;
    background: none;
    right: auto;
    margin-top: 5px;
    border-radius: 7px;
}

.csspadding2px {
    padding: 2px;
}
