.pagebackgroundimage {
  --background: #ffffffd1 !important;
}
.cssHeader {
  height: 40px;
  font-family: NunitoExtraBold;
  text-align: center;
  font-size: 19px;
}
.cssQuery {
  padding: 5px 5px 20px 5px;
  font-size: 17px;
  font-weight: bold;
  font-family: NunitoExtraBold;
}
.cssSelectRadio {
  padding: 0px 0px 10px 10px;
  font-size: 15px;
  font-family: NunitoBold;
  width: 100%;
  float: left;
}
.cssbuttonBack {
  color: #774839;
  width: 25%;
  bottom: 5px;
  text-align: center;
  font-family: NunitoBold;
  float: left;
  margin-top: 40px;
  margin-left: 20%;
}
.cssbuttonNext {
  color: #5da83f;
  bottom: 5px;
  width: 25%;
  text-align: center;
  font-family: NunitoBold;
  float: left;
  margin-top: 40px;
}
.hoc-tap-be90b48c9f {
  background-image: linear-gradient(to right, #5da83f 0%, #5da83f 50%, #5da83f 100%);
  top: 16%;
}
.h5e69afb1856b56171c37181a {
  color: #5da83f;
  border-bottom: 1px solid;
}
.i5e69afb1856b56171c37181a {
  background-image: url(/assets/icon/hoctap.png) !important;
  background-repeat: no-repeat;
  zoom: 1;
  height: 52px;
  text-align: center;
}

.choi-dua-4253a0d4ff {
  background-image: linear-gradient(to right, #4d99e1 0%, #4d99e1 50%, #4d99e1 100%);
  top: 16%;
}
.h5e69af9c856b56666a371818 {
  color: #4d99e1;
  border-bottom: 1px solid;
}
.i5e69af9c856b56666a371818 {
  background-image: url(/assets/icon/choidua.png) !important;
  background-repeat: no-repeat;
  zoom: 1;
  height: 52px;
  text-align: center;
}
.giao-tiep-8fa4036691 {
  background-image: linear-gradient(to right, #f46262 0%, #f46262 50%, #f46262 100%);
  top: 16%;
}
.h5e69b00b856b56b57d371826 {
  color: #f46262;
  border-bottom: 1px solid;
}
.i5e69b00b856b56b57d371826 {
  background-image: url(/assets/icon/giaotiep.png) !important;
  background-repeat: no-repeat;
  zoom: 1;
  height: 52px;
  text-align: center;
}
.tu-cham-soc-ban-than-va-lam-viec-nha-54a8c7ddde {
  background-image: linear-gradient(to right, #26b7ab 0%, #26b7ab 50%, #26b7ab 100%);
  top: 13%;
}
.h5e69afe8856b560221371822 {
  color: #26b7ab;
  border-bottom: 1px solid;
}
.i5e69afe8856b560221371822 {
  background-image: url(/assets/icon/chamsocbanthan.png) !important;
  background-repeat: no-repeat;
  zoom: 1;
  height: 52px;
  text-align: center;
}
.tham-gia-hoat-dong-cong-dong-0451bca37e {
  background-image: linear-gradient(to right, #f8af4f 0%, #f8af4f 50%, #f8af4f 100%);
  top: 13%;
}
.h5e69affa856b563bed371824 {
  color: #f8af4f;
  border-bottom: 1px solid;
}
.i5e69affa856b563bed371824 {
  background-image: url(/assets/icon/hdcd.png) !important;
  background-repeat: no-repeat;
  zoom: 1;
  height: 52px;
  text-align: center;
}
.xay-dung-moi-quan-he-xa-hoi-304adfea43 {
  background-image: linear-gradient(to right, #c53510 0%, #c53510 50%, #c53510 100%);
  top: 13%;
}
.h5e69afbe856b5698f037181c {
  color: #c53510;
  border-bottom: 1px solid;
}
.i5e69afbe856b5698f037181c {
  background-image: url(/assets/icon/xahoi.png) !important;
  background-repeat: no-repeat;
  zoom: 1;
  height: 52px;
  text-align: center;
}
.van-dong-va-the-thao-f4c914391e {
  background-image: linear-gradient(to right, #db2d84 1%, #db2d84 50%, #db2d84 100%);
  top: 16%;
}
.h5e69afdb856b56b8bf371820 {
  color: #db2d84;
  border-bottom: 1px solid;
}
.i5e69afdb856b56b8bf371820 {
  background-image: url(/assets/icon/thethao.png) !important;
  background-repeat: no-repeat;
  zoom: 1;
  height: 52px;
}
.hieu-cam-xuc-va-dieu-tiet-hanh-vi-d48557d162 {
  background-image: linear-gradient(to right, #fb7964 1%, #fb7964 50%, #fb7964 100%);
  top: 13%;
}
.h5e69afcd856b56ae8d37181e {
  color: #fb7964;
  border-bottom: 1px solid;
}
.i5e69afcd856b56ae8d37181e {
  background-image: url(/assets/icon/hanhvi.png) !important;
  background-repeat: no-repeat;
  zoom: 1;
  height: 52px;
}
.iconBack {
  font-size: 26px;
  color: white;
  position: absolute;
  right: -15px;
  height: 40px;
  width: 40px;
  background: #f46262;
  top: -20px;
  border-radius: 50px;
}
.cssTitle {
  width: 80%;
  z-index: 10;
  position: absolute;
  text-align: center;
  margin-left: 10%;
  border-radius: 15px;
  padding: 5px 20px;
  color: white;
  font-family: "NunitoExtraBold";
}
modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media not all and (min-height: 600px) and (min-width: 768px) {
  ion-modal ion-backdrop {
    visibility: hidden;
  }
}

@media only screen and (min-height: 0px) and (min-width: 0px) {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modalView {
  left: 5%;
  top: 22%;
  width: 90%;
  height: 21rem;
  border-radius: 8px;
  border: 0.5px solid #ffffff;
  position: fixed;
  background: white;
  z-index: 1;
  padding: 15px;
}
