<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="backPage()" style="width: 15%;">
      <ion-back-button text="" aria-label="chevron back outline" style="color:white;background-color: #2790c7 ;text-align: center;"></ion-back-button>
    </ion-buttons>
    <ion-title>Câu trả lời</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="tab">
      <div class="tab1">
        {{data.traloi}}
      </div>
    </div>
  </div>
</ion-content>
