.contentCss {
    box-shadow: 0px 0px 3px 3px #f2f2f2;
    width: 90%;
    margin: 3% 5%;
    border-radius: 16px;
    float: left;
  }
  .imgconten {
    float: left;
    width: 35%;
  }
  .videotab {
    color: #5da83f;
    font-family: NunitoBOld;
    padding: 5px;
    width: 65%;
    float: left;
    text-align: justify;
  }
.container {
    width: 100%;
    margin-bottom: 15px;
}
.ketquahead {
    background-color: #ffffff;
    padding: 11px;
    position: absolute;
    left: 15%;
    top: 7%;
    color: black;
    border-radius: 9px;
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    font-family: NunitoExtraBold;
}
.cauhoi1 {
    width: 80%;
    margin-left: 5%;
    border-radius: 12px;
    background: #5da83f;
    color: white;
    padding: 3px 10px;
    font-family: NunitoExtraBold;
    font-size: 14px;
    margin-top: 15px;
}
.iconReader {
    float: left;
    margin-top: 2px;
    margin-right: 8px;
}
.textlist {
    width: 29%;
    margin: 0% 2%;
    float: left;
}
.width25 {
    width: 50px;
    height: 50px;
    top: 30px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #d2d2d2;
    box-shadow: 0px 0px 7px 2px #b0b0b0;
}
.width70 {
    box-shadow: 0px 0px 3px 3px #d2d2d2;
    height: 200px;
    overflow: scroll;
    border-radius: 10px;
}
.csstitleDetail {
    color: #5da83f;
    font-family: NunitoExtraBOld;
    font-size: 15px;
    text-align: center;
    width: 100%;
    float: left;
}
.csstitledescription {
    font-family: NunitoBold;
    font-size: 11px;
    text-align: center;
    padding: 5px;
    width: 100%;
    float: left;
}
.botton10{
    margin-bottom: 20px;
    width: 100%;
    float: left;
}
