<ion-content>
  <div class="container-fluid" style="margin-bottom: 10px;">
    <div class="container1">
      <img src="assets/imgs/bgdash.jpg">
      <img (click)="backpage()" style="position: absolute;    left: 10px;top: 10px;" src="assets/icon/backicon.png">
      <!-- <div class="ketquahead">
        Bài CDC
      </div> -->
    </div>
    <div class="css">
      <div class="textstep">
        Bài sàng lọc CDC
      </div>
      <div class="contenasqdetail">
        ({{postname}})
      </div>
    </div>
    <div class="container" *ngIf="getlistquestion.length != 0">
      <div style="float: right;margin-top: -15px;" (click)="PutanswerCDC(false)">
        <div style="width: 50%;margin-left: 25%;">
          <img src="/assets/icon/luu.png">
        </div>
        <p style="text-align: center;font-size: 11px;margin: 1px;width: 100%;color: #E56363;font-weight: bold;">Lưu và
          thoát</p>
      </div>
      <div class="cauhoi">Câu hỏi số {{Dataquestion.index}}/ {{getlistquestion.length}} : Con bạn có</div>
      <div class="tab">
        <div class="tab1">
          <div class="imgquest"> <img src="assets/icon/Question.jpg"></div>
          <div style="margin: 0px;">
            <p style="margin: 0px;" class="textquest" [innerHTML]=Dataquestion.content></p>
            <iframe *ngIf="Dataquestion.ChecklinkYoutube" style="width: 80%;margin-bottom: 10px;" width="100%"
              height="50%" frameborder="0" allowfullscreen [src]="transform(Dataquestion.linkYoutube)"></iframe>
            <ion-slides class="slideimg" [options]="slideOptsImg">
              <ion-slide *ngFor="let img of Dataquestion.sliderImages">
                <img class="imgBanner" [src]="img" style="width: 65%;height: 65%;margin-bottom: 10px;" />
              </ion-slide>
            </ion-slides>
          </div>
          <div class="answer">
            <ion-button class="tab2" color="Secondary" (click)="resutl(Dataquestion,Dataquestion.options[0])"
              [ngClass]="{ 'viewTrue': Dataquestion.selectedOptionId == Dataquestion.options[0].id}">
              <span style="margin-right: 10px;"><img style="width: 15px" src="assets/icon/icon_yes.png"></span>
              <span style="text-align: center;" [innerHTML]=Dataquestion.options[0].content>
              </span>
            </ion-button>
          </div>
          <div class="answer">
            <ion-button class="tab2" color="Secondary" (click)="resutl(Dataquestion,Dataquestion.options[1])"
              [ngClass]="{ 'viewTrue': Dataquestion.selectedOptionId == Dataquestion.options[1].id} ">
              <span style="margin-right: 10px;"><img style="width: 15px" src="assets/icon/icon_no.png"></span>
              <span style="text-align: center;" [innerHTML]=Dataquestion.options[1].content></span>
            </ion-button>
          </div>
          <div class="menu" *ngIf="getlistquestion.length != answers.length">
            <div class="img1" (click)="BackQuestion()" *ngIf="Dataquestion.index != '1'">
              <div class="icon1">
                <img src="/assets/icon/back.png">
              </div>
              <p class="textmenub">Câu trước</p>
            </div>
            <div class="img2" (click)="KETQUA()" *ngIf="getlistquestion.length == answers.length">
              <div class="icon1">
                <img src="/assets/icon/next.png">
              </div>
              <p class="textmenun">Kết quả</p>
            </div>
            <div class="img2" (click)="NextData()" *ngIf="(Dataquestion.selectedOptionId == Dataquestion.options[1].id || Dataquestion.selectedOptionId == Dataquestion.options[0].id) && getlistquestion.length != answers.length">
              <div class="icon1">
                <img src="/assets/icon/next.png">
              </div>
              <p class="textmenun">Câu sau</p>
            </div>
          </div>

          <div class="menu" *ngIf="getlistquestion.length == answers.length">
            <div class="img1" (click)="BackQuestion()" *ngIf="Dataquestion.index != '1'">
              <div class="icon1">
                <img src="/assets/icon/back.png">
              </div>
              <p class="textmenub">Câu trước</p>
            </div>
            <div style="width: 50%;float: left;" (click)="KETQUA()" *ngIf="Dataquestion.index != '1' && getlistquestion.length == answers.length">
              <div class="icon1">
                <img src="/assets/icon/luu.png">
              </div>
              <p class="textmenun">Kết quả</p>
            </div>
            <div style="margin-left: 25%;width: 50%;float: left;" (click)="KETQUA()" *ngIf="Dataquestion.index == '1' && getlistquestion.length == answers.length">
              <div class="icon1">
                <img src="/assets/icon/luu.png">
              </div>
              <p class="textmenun">Kết quả</p>
            </div>
            <div class="img2" (click)="NextQuestion()" *ngIf="Dataquestion.index != getlistquestion.length.toString()">
              <div class="icon1">
                <img src="/assets/icon/next.png">
              </div>
              <p class="textmenun">Câu sau</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>