<ion-content>
  <div class="container">
    <img src="assets/imgs/bgdash50.png">
    <div class="ketquahead">
      Câu hỏi số {{ QUESTION_NUMBER }}
    </div>
  </div>
  <div class="viewFollowup">
    <div class="quote">
      <p>Bạn có bao giờ tự hỏi liệu trẻ có bị điếc không?</p>
    </div>
    <p>
      Bạn đã trả lời: <strong class="text-info">Có</strong>
    </p>
    <hr>
    <div style="font-size: 12px;">Bạn cần trả lời tất cả các câu hỏi dưới đây</div>

      <div class="first-depth">
        <div>Trẻ có...</div>
        <div *ngFor="let question of firstDepthQuestions">
          <p>{{question.content}}</p>
          <div>
            <ion-list *ngFor="let p of question.options" class="viewReply">
              <input type="radio" (click)="ReplypassGroup(question,p.hasInput)" name="{{p.id}}" value="{{p.hasInput}}"
                style="margin-right: 5px;">
              <label>{{p.content}}</label>
            </ion-list>
          </div>
        </div>
      </div>
      <button class="cssbutton" (click)="next()">Tiếp tục</button>
    </div>
</ion-content>