<ion-content>
  <div class="container-fluid" style="margin-bottom: 10px;">
    <div class="container1">
      <img src="assets/imgs/bgdash.jpg">
      <img (click)="backpage()" style="position: absolute;    left: 10px;
    top: 10px;" src="assets/icon/backicon.png">
      <div class="ketquahead">
        Bài đánh giá can thiệp tự kỷ ATEC
      </div>
    </div>
    <div class="container" *ngIf="getlistquestion.length != 0">
      <div class="cauhoi">Câu hỏi số {{Dataquestion.index}}/ {{getlistquestion.length}} </div>
      <div class="cauhoi" style="font-size: 15px;">Lĩnh vực: {{Dataquestion.NamePost}} </div>
      <div class="tab">
        <div class="tab1">
          <div class="imgquest"> <img src="assets/icon/Question.jpg"></div>
          <div class="textquest">
            <p style="padding-top: 10px;margin: 0px;" [innerHTML]=Dataquestion.content></p>
          </div>
          <div *ngFor="let data of Dataquestion.options">
            <div class="answer">
              <div class="tab2" color="Secondary" [ngClass]="{ 'viewTrue': Dataquestion.selectedOptionId == data.id}">
                <div style="width: 100%;height: auto;    text-align: center;padding: 1px;" [innerHTML]=data.content>
                </div>
              </div>
            </div>
          </div>
          <div class="menu">
            <div class="img1" (click)="BackQuestion()" *ngIf="Dataquestion.index != '1'">
              <div class="icon1">
                <img src="/assets/icon/back.png">
              </div>
              <p class="textmenub">Câu trước</p>
            </div>
            <div class="img2" (click)="NextQuestion()"
              *ngIf="getlistquestion.length != ParseIntData(Dataquestion.index)">
              <div class="icon1">
                <img src="/assets/icon/next.png">
              </div>
              <p class="textmenun">Câu sau</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</ion-content>